html,body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 13px;
    line-height: 20px;
    background: url('./images/bg.png') #fcfcfc;
}
a {
    color: #3c48c0;
    text-decoration: underline;
}
a:hover {
    color: #191860;
}
.show {
    display: block;
}
.hide {
    display: none;
}
#content {
    width: 1000px;
    padding: 0;
    margin: 0 auto;
}
#menu {
    width: 220px;
    padding: 40px 40px 15px 40px;
    background: #008ecc;
    float: left;
    color: #ddebf3;
    text-shadow: 0 0 1px #52c7fa;
}
#menu a {
    color: #ddebf3;
    text-decoration: underline;
}
#menu a:hover {
    color: #fff;
    text-decoration: none;
}
#photo {
    margin: -20px 0 0 -20px;
    width: 260px;
    height: 258px;
    border-radius: 130px;
    padding: 0;
    cursor: default;
}
#menu h2 {
    margin: 40px 0 15px 0;
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 0px #52c7fa;
    font-weight: normal;
}
.iconed_text {
    min-height: 40px;
}
.iconed_text .answer {
    float: right;
    width: 180px;
    padding-top: 4px;
}
.iconed_text .two-lines {
    line-height: 16px;
    padding: 0;
}
.iconed_text img {
    width: 30px;
    height: 30px;
    float: left;
}
.prcnt {
    margin: 0;
    padding: 0;
}
.percentage {
    width: 100%;
    margin: 0;
    background: #00669a;
    height: 5px;
}
.percentage span {
    display: block;
    background: #ddebf3;
    height: 5px;
}
.prcnt_txt {
    font-weight: normal;
    color: #ddebf3;
    float: right;
    margin-right: 10px;
}
.help {
    cursor: help;
}
#info {
    width: 620px;
    padding: 25px 30px 25px 50px;
    float: right;
    background: #fff;
}
#info h1, #info h2, #info h3 {
    padding: 0;
}
#info h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    color: #008ecb;
    font-weight: normal;
}
#info h2 {
    font-size: 21px;
    text-transform: uppercase;
    margin: 30px 0 10px 0;
    color: #333;
    font-weight: normal;
}
#info h3 {
    font-size: 14px;
    margin: 10px 0 0 0;
    color: #008ecb;
    font-weight: bold;
}
#info h3 span.date {
    color: #333;
    margin-right: 10px;
    display: inline-block;
    min-width: 110px;
}
#info p {
    color: #333;
    text-indent: 20px;
}
#info a {
    color: #008ecb;
    text-decoration: none;
}
#info a:hover {
    text-decoration: underline;
}
#langs {
    display: block;
    margin-top: -10px;
    margin-right: -10px;
    float: right;
}
#langs img {
    width: 18px;
    opacity: 0.5;
    cursor: pointer;
}
#ico_print {
    margin: 0 0 -3px 0;
}
#ico_download {
    margin: 0 3px -3px 12px;
}
.first {
    display: inline-block;
    width: 108px;
    text-align: left;
}
.second {
    color: #333;
}
#info div.skills p {
    text-indent: 0;
    margin: 0 0 3px 0;
    color: #666;
}
#info div.skills p strong {
    color: #333;
}
.extra {
    font-weight: normal;
    color: #666;
}
ul {
    margin: 0 0 10px 0;
    padding: 0 0 0 5px;
    color: #666;
    clear: both;
    overflow: hidden;
}
li {
    list-style-type: square;
    float: left;
    margin: 0 15px 0 12px;
}
.strong {
    font-weight: bold;
}
.w150 {
    display: inline-block;
    width: 150px;
}