html,body {
    background:#fff;
    color:#000;
}
#menu {
    width:220px;
    padding:40px 40px 15px 40px;
    text-shadow:none;
    color:#000;
    border-right:2px solid #000;
}
#info {
    width:653px;
    border-left:2px solid #000;
    padding:30px 15px 15px 30px;
    margin-left:-2px;
}
#menu h2 {
    color:#000;
    text-shadow:0 0 0 #000;
}
#photo #img {
    display:block;
    width:250px;
    border-radius:125px;
}
#photo #txt, #photo #oval {
    display:none;
}
.percentage {
    border:0.5mm solid #000;
}
.percentage span {
    border:0.75mm #666 solid;
    border-width:0.75mm 0;
    height:0;
}
#langs {
    display:none;
}
#info h1, #info a, #info h3 {
    color:#000;
}